<% include head.ejs %>

<body>

    <main>
      <h1>Profiel</h1>

      <a class="back" href="/"><img src="img/back.svg" alt=""></a>
      <article class="profile">
        <img src="img/user4.png" alt="">
        <h2><%= data.name %></h2>
        <p> <span><%= data.age %></span>, omgeving <span><%= data.place %></span> </p>
      </article>


      <section class="date-ideas">
        <h3>Date ideeën</h3>
          <article>
            <p><%= data.dateIdea %>"</p>
            <a class="category" href="#">#<%= data.category %></a>
            <a href="#"> <img src="img/speech-bubble.svg" alt=""></a>
          </article>
      </section>
    <section>


    </section>

    </main>



    <script src="js/java.js"></script>
</body>

</html>
