<% include head.ejs %>

<body>

    <main>
      <h1>Profiel</h1>

      <a class="back" href="matches"><img src="img/back.svg" alt=""></a>
      <article class="profile">
        <img src="<%= data.profilepicture %>">
        <h2><%= data.name %></h2>
        <p> <span><%= data.age %></span>, omgeving <span><%= data.place %></span> </p>
      </article>


      <section class="date-ideas">
        <h3>Date ideeën</h3>
          <article>
            <p>"<%= data.dateIdea %>"</p>
            <a class="category" href="#">#<%= data.category %></a>
            <a href="#"> <img src="img/speech-bubble.svg" alt=""></a>
          </article>
      </section>


      <button
      id=js-remove
      data-id="<%= data._id %>"
      class=danger
      >Delete
      </button>

      <script src="index.js"></script>


    </main>


</body>
