<% include head.ejs %>

<body>
    <header>
        <nav>
            <ul>
                <li id="matches" class="active"><a href="matches">Matches</a></li>
                <li id="inbox"><a href="inbox">Inbox</a></li>
                <li id="profile"><a href="profile">Profiel</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <h1>Matches</h1>
      <div class="filter">
        <p>33 resultaten</p>
        <button id="filter"></button>
      </div>

      <!-- MATCHES -->
      <% for (var index = 0; index < data.length; index++) { %>
      <article class="active"><a href="/<%=data[index]._id%> %>">
        <div>
          <img src="../static/img/user1.png" alt="">
          <!-- <img src="<%= data.profilepicture %>"> -->
          <h2><%= data[index].name %></h2>

        </div>
        <div>
          <p><%= data[index].dateIdea %></p>
          <a class="category" href="#">#<%= data[index].category %></a>
        </div>
      </a></article>
      <% } %>
    </main>

    <!--JS -->


</body>
</html>
