<% include head.ejs %>

<body>

    <header>
        <nav>
            <ul>
                <li id="matches"><a href="matches">Matches</a></li>
                <li id="inbox"><a href="inbox">Inbox</a></li>
                <li id="profile" class="active"><a href="profile">Profiel</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <h1>Profiel</h1>
      <!-- <button id="settings"></button> -->
      <article class="profile">
        <img
  alt
  src="<%= data.profilepicture %>"
>
        <h2><%= data.name %></h2>
        <p> <span><%= data.age %></span>, omgeving <span><%= data.place %></span> </p>
      </article>

      <section class="date-ideas-profile">
        <h3>Date ideeën</h3>
          <article>
            <p>"<%= data.dateIdea %>"</p>
            <a class="category" href="#">#<%= data.category %></a>
      </article>
    </section>
    <a href="/logout">log uit</a>
    </section>

    </main>




    </body>
    <section>


</html>
